<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><b>emergencyfood</b>.<i>dev</i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'post-list' %}">
                        <i class="bi bi-calendar-week"></i>
                        Archive
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-folder2-open"></i>
                        Categories
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        {% if categories %}
                            {% for category in categories %}
                            <li>
                                <a class="dropdown-item" href="{% url 'category-post-list' slug=category.slug %}">{{ category.name }}</a>
                            </li>
                            {% endfor %}
                        {% else %}
                            <li>No categories...</li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'post-tags' %}">
                        <i class="bi bi-tag"></i>
                        Tags
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-phone"></i>
                        Apps
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="https://github.com/gohanko/asanitize" target="_blank">asanitize</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-chat-dots"></i>
                        Socials
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="https://github.com/gohanko" target="_blank">
                                <i class="bi bi-github"></i>
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://t.me/emergencyfood" target="_blank">
                                <i class="bi bi-telegram"></i>
                                Telegram
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" target="_blank">
                                <i class="bi bi-linkedin"></i>
                                LinkedIn
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/blog/">
                        <i class="bi bi-info-square"></i>
                        About
                    </a>
                </li>
            </ul>
            <form class="d-flex search-form my-2 my-lg-0">
                <input class="form-control bg-transparent me-sm-2 text-light" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light btn-search my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>