{% extends 'blog/base.html' %}

{% block page_title %} Posts {% endblock %}

{% block header %}
<h4>{{ post.title }}</h4>

<div class="post-publish-info text-muted mb-2">
    <span class="badge bg-secondary me-2 d-none d-sm-inline">{{ post.get_status_display }}</span>
    <i class="bi-person d-none d-sm-inline"></i>
    <span class="me-2 d-none d-sm-inline">{{ post.author }}</span>
    <i class="bi-calendar-event"></i>
    <span class="me-2">
        {{ post.created_on }}
    </span>
</div>



<hr />
{% endblock %}

{% block main %}
<p>{{ post.content|safe  }}</p>
<hr />

{% if user.is_authenticated %}
<div class="btn-group float-end" role="group" aria-label="Basic mixed styles example">
    <a class="btn btn-danger" href="{% url 'post-delete' slug=post.slug %}">Delete Post</a>
    <a class="btn btn-primary" href="{% url 'post-update' slug=post.slug %}">Edit Post</a>
</div>
{% endif %}

<div class="post-summary-tags">
    {% for category in post.categories.all %}
    <a class="d-inline-block me-1 btn btn-sm btn-secondary text-white" href="{% url 'post-list-filtered-by-category' slug=category.slug %}">
        <i class="bi bi-folder"></i>
        <span>{{ category.name }}</span>
    </a>
    {% endfor %}
    {% for tag in post.tags.all %}
        <a class="d-inline-block me-1 btn btn-sm btn-secondary text-white" href="{% url 'post-list-filtered-by-tag' slug=tag.slug %}">
            <i class="bi bi-tag"></i>
            <span>{{ tag.name }}</span>
        </a>
    {% endfor %}
</div>
{% endblock %}